<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="js/home/login.js" defer></script>
  <script rel="stylesheet" src="../../public/css/home/login.css"></script>
<!-- 노드에서는 js폴더로 접근하여 자바스크립트로 연결하기 위해서는 미들웨어가 필요함   -->
</head>
<body>
  <div class="login-page">
      <form class="login-form">
        <input id="id" type="text" placeholder="username"/>
        <input id="psw" type="password" placeholder="password"/>
        <button>login</button>
        <p class="message">Not registered? <a href="register">Create an account</a></p>
      </form>
    </div>
  </div>
</body>
</html>