<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="js/home/login.js" defer></script>
  <link rel="stylesheet" href="css/home/login.css">
<!-- 노드에서는 js폴더로 접근하여 자바스크립트로 연결하기 위해서는 미들웨어가 필요함   -->
</head>
<body>
  <div class="login-page">
    <div class="form">
      <form class="login-form">
        <input id="id" type="text" placeholder="아이디"/>
        <input id="name" type="password" placeholder="이름"/>
        <input id="psw" type="password" placeholder="비밀번호"/>
        <input id="confirm-psw" type="password" placeholder="비밀번호 확인"/>
        <button>SIGN</button>
        <p class="message">Already registered? <a href="login">Login</a></p>
      </form>
    </div>
  </div>
</body>
</html>

